body{
    background: black;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
    width:90%;
    background: rgba(121, 116, 116, 0.1);
    border: 3px solid #FF0000;
    backdrop-filter: blur(7px);
    border-radius: 12px;
    padding: 7px 9px;
}
.header{
    position: fixed;
}
.header-menu{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.header-menu a{
    text-decoration:none;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}
.nomber{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 9px 15px 8px 15px;
    border: 3px solid #FFFFFF;
    border-radius: 7px;
}
.log{
    color: #FFFFFF;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 144px;
    letter-spacing: 0.065em;
    margin: 350px 0 20px 0;
}
.UI-UX{
    display: flex;
    align-items: center;flex-direction: column;
    justify-content: center;
    background: url("../img/Ellipse 2.png")no-repeat center/cover;
}
.line{
    position: absolute;
    margin: 0 20px 0 120px;
    top: 68%;
}
.text{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 33px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.text1{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 400px;
}
.btn{
    border: none;
    margin: 40px 0;
    background: #FFFFFF;
    border-radius: 27px;
    padding: 13px 26px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.065em;
    color: #000000;
}
.hand{
    position: absolute;
    left: 0;
    margin-top: 150px;
}
.hand1{
    position: absolute;
    right: 0;
    margin-top: 140px ;
}
.abaut-us{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.line1{
    margin-left: 590px;
}
.text2{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.title h1{
    color: #FFFFFF;
    margin-top: 4px;
    font-size: 40px;
    letter-spacing: 0.065em;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-weight: 700;
}
.title hr{
    outline: none;
    border-color: #FF0000;
    width: 364px;
    background-color: #FF0000;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:1170px;
    margin-top: 46px;
}
.picture-place{
    width: 60%;
    display: flex;
    justify-content: center;
}
.picture-place-second{
    width: 10%;
    display: flex;
    justify-content: center;
}
.picture-place img,.picture-place-second img{
    position: relative;
    z-index: 1;
}
.background-blur{
    position: absolute;
    width: 477px;
    height: 477px;
    background: #D81010;
    filter: blur(150px);
}
.information-place{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}
.information-place-second{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}
.information-place p,.information-place-second p{
    color: white;
    font-family: 'Fira Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 468px;
    margin: 0 auto;
    height: 66px;
}
.button-place{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.button-place button{
    font-family: 'Fira Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    width:206px;
    border-radius: 51px;
    background-color: #FF0000;
    height: 57px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.button-place-second{
    display: flex;
    justify-content: center;
    width: 100%                                                                                                                                         ;
}
.button-place-second button{
    border: none;
    margin: 40px 0;
    background: #FFFFFF;
    border-radius: 27px;
    padding: 13px 26px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.065em;
    color: #000000;
}
.background-image{
    position: relative;
    margin-top: -300px;
}
.photo{
    display: flex;
    justify-content: space-around;
    margin: 50px 70px;
}
.name{
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin: 19px 70px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.065em;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin: 0 70px 19px 70px;
}
.redizain{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.dizain{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.diz{
    display: flex;
    justify-content: space-around;
}
.swiper {
    width:1058px;
    height: 384px;
    margin-top: 88px;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}
.swiper-button-next, .swiper-button-prev{
    color: white !important;
    width: 23px !important;
    padding: 20px;
    height: 23px !important;
    border-radius: 50%;
    background-color: #FF0000;
}
p{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.shapka{
    margin: 80px 0 20px 140px ;
}
button{
    background: #FFFFFF;
    border-radius: 27px;
    padding: 10px 20px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.065em;
    color: #000000;
    margin: 80px 0 300px 600px;
}
.hands{
    position: absolute;
    margin-top: -650px;
    right: 0;
}
.handz{
    margin-top: -650px;
    position: absolute;
    left: 0;
}
