body{
    background: black;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
    width:90%;
    background: rgba(121, 116, 116, 0.1);
    border: 3px solid #FF0000;
    backdrop-filter: blur(7px);
    border-radius: 12px;
    padding: 7px 9px;
}
.header{
    position: fixed;
}
.header-menu{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.header-menu a{
    text-decoration:none;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}
.nomber{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 9px 15px 8px 15px;
    border: 3px solid #FFFFFF;
    border-radius: 7px;
}
.log{
    color: #FFFFFF;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 144px;
    letter-spacing: 0.065em;
    margin: 350px 0 20px 0;
}
.UI-UX{
    display: flex;
    align-items: center;flex-direction: column;
    justify-content: center;
    background: url("../img/Ellipse 2.png")no-repeat center/cover;
}
.line{
    position: absolute;
    margin: 0 20px 0 120px;
    top: 68%;
}
.text{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 33px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.text1{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 400px;
}
.btn{
    border: none;
    margin: 40px 0;
    background: #FFFFFF;
    border-radius: 27px;
    padding: 13px 26px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.065em;
    color: #000000;
}
.hand{
    position: absolute;
    left: 0;
    margin-top: 150px;
}
.hand1{
    position: absolute;
    right: 0;
    margin-top: 140px ;
}
.abaut-us{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.line1{
    margin-left: 590px;
}
.text2{
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}

